.header {
    height: 60px;
    width: 100%;
    background: $white;
}

.logo {
    float: left;
    background: url(../images/logo.png)no-repeat;
    width: 160px;
    background-size: cover;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}