// Primary Color
$primary: #6a3e93;

// Secondary Color
$secondary: #eaeaee;

// Text Color
$text: #000;

// Body Background
$bg-body: #f6f6f6;

// White Color
$white: #ffffff;

// Glay Color
$glay: #cccccc;

// Dark Color
$dark: #0f1112;

// Border Color
$border: #eaeceb;

// Hover Color
$hover: #f1cb14;

// Footer Color
$footer: #191c1d;